@import '@/assets/style/vars';
@import '@/assets/font/nunito';

html, body {
  margin: 0;
  padding: 0;
  background-color: $lightgray;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito';
}

#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}

input[type="text"], input[type="password"] {
  font-size: 1em;
  font-family: 'Nunito';
  outline: none;
}
